<h1>Comment Details for Case Number <%= @comment.case_number %></h1>

        <p><%= @comment.guest.first_name %> <%= @comment.guest.last_name %></p>
        <p><%= @comment.guest.email %> <%= @comment.guest.phone %></p>

        <p><%= @comment.store_id %> <%= @comment.visit_date %></p>
        <p><%= @comment.visit_time %> <%= @comment.comment_type %></p>
