<h1>Hi, <%= @user.first_name %>!</h1>
<h2>Your username is <%= @user.username %></h2>
<button type="button" class="btn btn-light" ><%=link_to 'Add Comment', new_comment_path %></button>
<button type="button" class="btn btn-light" ><%=link_to 'See All Comments', comments_path %></button>
<button type="button" class="btn btn-light" ><%=link_to 'Update A Comment', new_comment_update_path %></button>

